---
layout: page
description: "Passionate Gamemaster, MtG Enthusiast, Guitarplayer"
---
<div itemscope itemtype="https://schema.org/Blog">
{% for post in paginator.posts %}
<div class="post-preview" itemscope itemtype="https://schema.org/BlogPosting">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 itemprop="headline" class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 itemprop="description" class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by <span itemprop="author">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span> on {{ post.date | date: "%B %d, %Y" }}</p>
    <meta itemprop="datePublished" content="{{ post.date }}">
    <meta itemprop="image" content="{{ site.baseurl }}/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}">
</div>
<hr>
{% if forloop.index == -1 %}
<div class="post-preview">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <!-- Application development -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7751167265610240"
          data-ad-slot="1288512011"
          data-ad-format="auto"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
<hr>
{% endif %}
{% endfor %}
</div>
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
