---
layout: page
title: "Application development"
description: "Modern application development with PHP"
header-img: "img/default.jpg"
category:   "How to"
---
<div itemscope itemtype="http://schema.org/Blog">
{% for post in site.posts %}
    {% if post.series %}
        {% if post.series == "Modern Applications with PHP" %}
            <div class="post-preview" itemscope itemtype="http://schema.org/BlogPosting">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 itemprop="headline" class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 itemprop="description" class="post-subtitle">
                      {{ post.subtitle }}
                    </h3>
                    {% endif %}
                </a>
                <p class="post-meta">Posted by <span itemprop="author">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span> on {{ post.date | date: "%B %d, %Y" }}</p>
                <meta itemprop="datePublished" content="{{ post.date }}">
                <span class="hide"><img itemprop="image" src="{{ site.baseurl }}/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}" alt="{{ post.title }}"></span>
            </div>
            <hr>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
