<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Blog posts about Magic: The Gathering and Dungeons &amp; Dragons by
                    Marco Bunge is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed
                    by Wizards. Portions of the materials used are property of Wizards of the Coast. &copy; Wizards of
                    the Coast LLC.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="nav-tabs nav">
                    <li>
                        <a href="{{ " /feed.xml" | prepend: site.baseurl }}">
                            <!--<span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>-->
                            RSS Feed
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.moxfield.com/users/zombienoxx">
                            <!--<span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>-->
                            Moxfield
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                            <!--<span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>-->
                            Twitter
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav-tabs nav">
                    <li>
                        <a href="{{ " /privacy-policy.html" | prepend: site.baseurl }}">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ " /js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " /js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ " /js/clean-blog.js " | prepend: site.baseurl }}"></script>

<script>
    function moxfieldOnMessage(e) {
        const t = e.data;
        if ("object" == typeof t && "moxfield" === t.type) {
            const e = document.getElementById(t.id);
            e && (e.style.height = t.data + "px")
        }
    }
    function moxfieldOnLoad(e) {
        e.target && e.target.contentWindow && e.target.contentWindow.postMessage({ type: "moxfield", data: e.target.id }, "*")
    } window.addEventListener("message", moxfieldOnMessage);
</script>

<script type="text/plain" data-category="functional">
    console.log('call functional category');

    function loadMoxfieldDecks() {
        const srcDataAttr = 'data-moxfield-src';
        document.querySelectorAll('[' + srcDataAttr + ']').forEach(
            function(frame) {
                const src = frame.getAttribute.getAttribute(srcDataAttr);
                frame.setAttribute('src', src);
            }
        );
    }
</script>

{% include cookieconsent.html %}