<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top is-fixed is-visible">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" itemprop="name" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Blog</a>
                </li>
                <li>
                    <a href="https://www.moxfield.com/decks/DJUxadn2y0at656Pmx69pA" target="_blank">Timeless Staples @ Moxfield</a>
                </li>
                <li>
                    <a href="https://www.moxfield.com/users/zombienoxx" target="_blank">me @ Moxfield</a>
                </li>
                {% for page in site.pages %}
                {% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %}
                <li>
                    <a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed<!--<i class="fa fa-rss fa-2x"></i>--></a>
                </li>
                {% if site.twitter_username %}
                <li>
                    <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Twitter<!--<i class="fa fa-twitter fa-2x"></i>--></a>
                </li>
                {% endif %}
                {% if site.facebook_username %}
                <li>
                    <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                {% endif %}
                {% if site.github_username %}
                <li>
                    <a target="_blank" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-2x"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
