---
layout: default
page_type: website
---
<div itemscope itemtype="https://schema.org/WebSite">
	<!-- Page Header -->
	<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	    <div class="layer">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		                <div class="site-heading">
		                    <h1 itemprop="headline">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
		                    <hr class="small">
		                    <span class="subheading" itemprop="description">{{ page.description }}</span>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</header>
	
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<a class="btn btn-primary btn-block" target="_blank" alt="Shop MTG products on Amazon" href="https://www.amazon.de/stores/MagicTheGathering/MagicTheGathering/page/2C0B3C77-DB40-4B73-9D83-6B1D0A5894C7?&_encoding=UTF8&tag=zombienoxx-21&linkCode=ur2&linkId=1173111ea19bb52063883398459f1c2e&camp=1638&creative=6742">
					Shop <img style="display: inline-block; max-width: 100px; position: relative; margin: 0 5px; top: -3px;" src="{{ "/img/MTG_Primary_LL_1c_White_LG_V12.png" | prepend: site.baseurl }}" class="img-responsive" alt="Responsive image"> on Amazon</a>
			</div>
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ content }}
				<hr>
			</div>
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<a class="btn btn-primary btn-block" target="_blank" alt="Shop MTG products on Amazon" href="https://www.amazon.de/stores/MagicTheGathering/MagicTheGathering/page/2C0B3C77-DB40-4B73-9D83-6B1D0A5894C7?&_encoding=UTF8&tag=zombienoxx-21&linkCode=ur2&linkId=1173111ea19bb52063883398459f1c2e&camp=1638&creative=6742">
					Shop <img style="display: inline-block; max-width: 100px; position: relative; margin: 0 5px; top: -3px;" src="{{ "/img/MTG_Primary_LL_1c_White_LG_V12.png" | prepend: site.baseurl }}" class="img-responsive" alt="Responsive image"> on Amazon</a>
			</div>
		</div>
	</div>
</div>
